<div mat-dialog-content>
    <p>Enter Info</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.user" placeholder="Username">
    </mat-form-field><br>
    <mat-form-field>
        <input matInput [(ngModel)]="data.user" placeholder="Password">
      </mat-form-field>
    <mat-form-field><br>
        <input matInput [(ngModel)]="data.user" placeholder="Email">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Exit</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div>