<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span>District Generator</span>
    <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Password">
        </mat-form-field>
    <button mat-raised-button>Login</button>
    <button mat-raised-button (click)="openDialog()">Register</button>
      
  </mat-toolbar>
  
<mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened>
      <h3> District Options<br><br></h3> 
     
      Equal Population<br>
      <mat-slider></mat-slider><br>
      Efficiency Gap<br>
      <mat-slider></mat-slider><br>
      Graph Compactness<br>
      <mat-slider></mat-slider><br>
      Seats-to-votes<br>
      <mat-slider></mat-slider><br>

      <div><button mat-raised-button>Generate</button></div>
      
    </mat-sidenav>
    <mat-sidenav-content>

      <div style="height: 800px; width: 90%;"
           leaflet 
           [leafletOptions]="options">
      </div>
      

    </mat-sidenav-content>
  </mat-sidenav-container>

<router-outlet></router-outlet>
